<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.resumemaker" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Resumemaker" >
        <activity
            android:name=".temp3designActivity2"
            android:exported="false"
            android:label="@string/title_activity_temp3design2"
            android:theme="@style/Theme.Resumemaker.NoActionBar" />
        <activity
            android:name=".temp2designActivity2"
            android:exported="false" />
        <activity
            android:name=".temp1designActivity2"
            android:exported="false" />
        <activity
            android:name=".templateActivity2"
            android:exported="false" />
        <activity
            android:name=".previewActivity2"
            android:exported="false" />
        <activity
            android:name=".chooseActivity2"
            android:exported="false" />
        <activity
            android:name=".RefrenceActivity2"
            android:exported="false" />
        <activity
            android:name=".DeclarationActivity2"
            android:exported="false" />
        <activity
            android:name=".PersonalActivity2"
            android:exported="false" />
        <activity
            android:name=".ProjectdtlActivity2"
            android:exported="false" />
        <activity
            android:name=".JobexpActivity2"
            android:exported="false" />
        <activity
            android:name=".EducationActivity2"
            android:exported="false" />
        <activity
            android:name=".Data"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>